div
{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    margin-left: 10px;


}
.brick
{
    text-align: center;
    height: 30px;
    width: 80px;
    background-color: greenyellow;
}
#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
  }
#paddle
{
    width: 70px;
    background-color: black;
}