* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: cursive;
    background: rgb(53,53,53);
    background: linear-gradient(179deg, rgba(53,53,53,1) 0%, rgba(195,195,195,1) 61%, rgba(195,195,195,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav-bar
{   
    display: flex;   
    gap: 11rem;
    font-size: 18px;
    background-color: cadetblue;
}
li 
{
    list-style: none;    
    border: 14px coral;

}
li a 
{
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-bar a:hover
{
    background-color: black;
}
.nav-bar
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100wh;
    font-size: 20wh;
    
}
